$bg-color: #1f1f1f;
$border-color: #3d3d3d;
$font-color: #F3F3F3;
$font-hover: #616467;
$delete-hover: #d8356b;
$ongoing-color: #00aaff;

ul {
    list-style: none;
    padding: 0;
}

.tasksContainer {
    z-index: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 10rem;
    margin-left: 17.5%;
    .header {
        display: flex;
        width: 100%;
        border-bottom: .1rem solid $font-color;

        .project {
            padding: 1rem;
        }

        .options {
            margin-left: auto;
            display: flex;
            align-items: center;
            margin-right: 1rem;
        }

        .btn {
            padding: 0 .5rem 0 .5rem;
            display: inline-block;
            outline: none;
            cursor: pointer;
            border-radius: 500px;
            transition-property: background-color, border-color, color, box-shadow, filter;
            transition-duration: .3s;
            border: 1px solid transparent;
            text-transform: uppercase;
            white-space: normal;
            font-weight: 700;
            text-align: center;
            color: $font-color;
            background-color: transparent;

            &:hover {
                color: #fff;
                background-color: $font-hover;
            }  
        }
        .danger:hover {
            background-color: $delete-hover;
        }

    }
    .columns {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        h2 {
            text-align: center;
        }
    }
}




.taskCard {
    background-color: $bg-color;
    border: 1px solid $border-color;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20rem;
    padding: 1rem;
    margin: 1rem;

    .top {
        margin-bottom: 1rem;
        h3 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-top: 0;
            color: #ffffff;
            max-width: 60%;
        }

        .status {
            position: absolute;
            right: .5rem;
            background-color: $ongoing-color;
            color: #ffffff;
            font-weight: bold;
            border-radius: 10px;
            padding: .3rem;
        }
    }
    
    .bot {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .dueDate {
            display: flex;
            align-items: center;
            color: $font-color;
        }
        svg {
            padding: .2rem;
            width: 1.5rem;
            height: 1.5rem;
            fill: $font-color;
        }

        .dropdown {
            position: absolute;
            bottom: 0;
            right: .5rem;

            &:hover .dropdownContent {
                display: block;
            }

            ul {
                background-color: $bg-color;
                li {
                    padding: .5rem;
                }
            }
        }

        .dropdownContent {
            position: absolute;
            display: none;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            background-color: $bg-color;
            font-size: 1rem;
            line-height: 1.2;
            border-radius: 10px;
            border: 1px solid $border-color;
            button {
                display: inline-block;
                outline: none;
                cursor: pointer;
                border-radius: 3px;
                border: none;
                color: #fff;
                background-color: transparent;
                transition: background-color .17s ease, color .17s ease;
                width: 100%;
                
                &:hover {
                    background-color: $border-color;
                }
                
            }
            .danger:hover {
                background-color: $delete-hover;
            }
        }
    }

    
}

