$background-color: #1C1C1C;
$input-color: #1C1D23;
$font-color: #F0F0F0;
$btn-color: #a772ec;
$btn-hover: #9458e4;

.modalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: $background-color;
    min-width: 35em;
    max-width: 40%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    
    .header {
        display: flex;
        align-items: center;
        padding: 1rem;

        button {
            width: fit-content;
            margin-left: auto;
        }
    }

    .alert {
        color: #DC2626;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 1rem;
        input {
            background-color: $input-color;
            color: $font-color;
            padding: .3rem;
            border-radius: 5px;
            border: 1px solid rgb(137, 151, 155);
            width: 100%;
            outline: none;
        }

        textarea {
            background-color: $input-color;
            color: $font-color;
            border: 1px solid rgb(137, 151, 155);
            border-radius: 5px;
            resize: none;
            height: 5em;
            outline: none;
        }

        button {
            cursor: pointer;
            outline: 0;
            color: #fff;
            background-color: $btn-color;
            border-color: $btn-color;
            display: inline-block;
            font-weight: 400;
            line-height: 1.5;
            text-align: center;
            border: 1px solid transparent;
            padding: 6px 12px;
            font-size: 16px;
            border-radius: .25rem;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            
            &:hover {
                color: #fff;
                background-color: $btn-hover;
                border-color: $btn-hover;
            }
        }
    }

}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
}

