.modalContainer {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    z-index: 1000;
    background: white;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.closeBtn {
    position: fixed;
    top: 0;
    right: 0;
}
