.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}

.formContainer {
    width: 400px;
    border-radius: 4px;
    padding: 40px;

    .alert {
        color: #fff;
    }

    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: #121212;
        color: #fff;
    }

    button {
        background-color: #D44179;
        color: #ffffff;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }

    .link {
        color: #D44179;
    }
}